/* Global Classes */
body {
    background: #eee;
}

/* Custom Classes */
.maincard {
    margin: auto;
    margin-top: 1em;
}

.invisible {
    display:none;
}

/* #displayTimer {
    float:right;
} */

.timer-area {
    margin-bottom: 1em;
    margin-right: 0.1em;
    height: 2em;
}

#riddlerresult {
    margin: 1em 0 1.5em 0;
}

#riddler-win {
    background:#df9b9b;
}

.card-title {
    margin: 0;
}

/* Bootstrap Overrides */

.card-body {
    padding-bottom: 0px;
}

.category{
    padding: 8% 0;
}

.col-xl-5, .col-lg-6, .col-md-8, .col-11, .col-1, .col-mad-12, .col-xl-8, .col-xl-9 {
    padding: 0;
}

#categories {
    background: #82AA01;
    background-image: url("../images/riddlerfaded.png");
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center; 
}

.list-group-item:focus-within {
    background-color: #fff;
}

.has-hover:hover {
    background-color: #fff !important;
    border-left: 4px solid #28A745 !important;
}

.btn-outline-light:hover {
    background: rgb(154, 193, 37, 0.5);
    color: white;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 0.75em;
}

/* .progress {
    height: 2em;
} */
